<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dpdpdp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="dpdpdp.Properties.Settings.usersDBConnectionString"
            connectionString="Data Source=DESKTOP-LCGCSJ1\SQLEXPRESS;Initial Catalog=usersDB;User ID=illumate;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <dpdpdp.Properties.Settings>
            <setting name="adminEmail" serializeAs="String">
                <value>anatfer@yandex.ru</value>
            </setting>
            <setting name="adminPasswordEmail" serializeAs="String">
                <value>23734652seruva27an</value>
            </setting>
            <setting name="adminPassword" serializeAs="String">
                <value>admin</value>
            </setting>
        </dpdpdp.Properties.Settings>
    </userSettings>
</configuration>